<div class="w3-col l10 m12 ">
  <h1>W3Schools Quizzes</h1>
  <hr />
  <div
    class="w3-row"
    style="margin-left:16px;margin-right:16px;margin-top:24px"
  >
    <div class="w3-col m6 w3-container">
      <div class="quizcontainer">
        <div class="quizheader">
          <h2>HTML QUIZ</h2>
        </div>
        <div class="quizbody">
          <div><p>40 Questions covering the basics of HTML</p></div>
          <button
            type="button"
            class="w3-btn w3-green"
            (click)="onsubmit('html')"
          >
            Start Quiz
          </button>
        </div>
      </div>
    </div>

    <div class="w3-col m6 w3-container">
      <div class="quizcontainer">
        <div class="quizheader">
          <h2>CSS QUIZ</h2>
        </div>
        <div class="quizbody">
          <div><p>25 Questions covering the basics of CSS</p></div>
          <button
            type="button"
            class="w3-btn w3-green"
            (click)="onsubmit('css')"
          >
            Start Quiz
          </button>
        </div>
      </div>
    </div>

    <div class="w3-col m6 w3-container">
      <div class="quizcontainer">
        <div class="quizheader">
          <h2>JavaScript QUIZ</h2>
        </div>
        <div class="quizbody">
          <div><p>25 Questions covering the basics of JavaScript</p></div>
          <a href="quiztest.asp?qtest=JAVASCRIPT" class="w3-btn w3-green"
            >Start Quiz</a
          >
        </div>
      </div>
    </div>

    <div class="w3-col m6 w3-container">
      <div class="quizcontainer">
        <div class="quizheader">
          <h2>SQL QUIZ</h2>
        </div>
        <div class="quizbody">
          <div><p>25 Questions covering the basics of SQL</p></div>
          <a href="quiztest.asp?qtest=SQL" class="w3-btn w3-green"
            >Start Quiz</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
